.dice__img{
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows:1fr ;
    row-gap: 1rem;
    width: 90vw;
    box-sizing: border-box;
    align-items: center ;
    justify-items: center ;   
}
@media only screen and (max-width:1160px){
    .dice__img{
        grid-template-columns: 1fr;

    }
}
@media only screen and(max-width:760px) {
    .dice__img{
     grid-template-columns: 1fr;   
    }
    
}
.cuerpo__main h1{
    text-align: center;
    font-size:30px;
    font-style: italic;
    font-family:'Courier New', Courier, monospace ;

}
.cuerpo__main h2{
    text-align: center;
    font-size: 30px;
    font-style: italic;
    font-family:'Courier New', Courier, monospace ;
}
aside{
    text-align: center;
    font-style:italic;
    font-family:'Patua One', cursive; ;
    font-size: 17px;
}
.dicenador__mi{
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows:1fr ;
    row-gap: 1rem;
    width: 20vw;
    box-sizing: border-box;
    align-items: center ;
    justify-items: center ; 

}
@media only screen and (max-width:1160px){
    .dicenador__mi{
        grid-template-columns: 1fr;

    }
}
@media only screen and(max-width:760px) {
    .dicenador__mi{
     grid-template-columns: 1fr;   
    }
    
}

div.center__tecx {
   
    width: 50%;
    margin: 20px auto;
    padding: 20px; 
}

div.center__tecx img.dicenador__mi{
    float:left;
    margin-left: 20px;
}

div.reset{
    clear: both;
}
