body{
    color:$color-principla ;
}
.cuerpo__main{
    &.h1{
        text-align: center;
    font-size:30px;
    font-style: italic;
    font-family:'Courier New', Courier, monospace 
    }

    &.h2{
        text-align: center;
        font-size: 30px;
        font-style: italic;
        font-family:'Courier New', Courier, monospace ;
    }
    &.p{
        text-align: center;
        font-style:italic;
        font-family:'Courier New', Courier, monospace;
        font-size: 30px;
    }

}
.dice__img{
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows:1fr ;
    row-gap: 1rem;
    width: 90vw;
    box-sizing: border-box;
    align-items: center ;
    justify-items: center ;   
}
@media only screen and (max-width:1160px){
    .dice__img{
        grid-template-columns: 1fr;

    }
}
@media only screen and(max-width:760px) {
    .dice__img{
     grid-template-columns: 1fr;   
    }
    
}