
body{
    background-color: #bb9e49;
   padding:auto;
    flex-wrap: row;

}

.ima_nud{
    
    margin: auto;
    text-align: center;
    width:100%;
    height:40%;
}

.img_dis{
    text-align: center;
    font-size:60px;
    font-style:italic;
    font-family:'Bebas Neue', cursive;
} 
    .dise__img{
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows:1fr ;
        row-gap: 1rem;
        width: 75vw;
        box-sizing: border-box;
        align-items:center ;
        justify-items: center ;  
        margin: auto; 
    }
    @media only screen and (max-width:1160px){
        .dise__img{
            grid-template-columns: 1fr;
    
        }
    }
    @media only screen and(max-width:760px) {
        .dise__img{
         grid-template-columns: 1fr;   
        }
        
    }